/**全局控制**/
body{
	margin: 0;
	font-family: PingFangSC-Reguler,"Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,sans-serif;
}

/**个人主页**/
.home-pic{
	width: 100%;
	position: absolute;
	top: 0;
}

/**个人简介**/
.main1{
	position: relative;
	bottom: 150px;
	width: 1000px;
	margin: auto;
}

.me-pic{
	position: absolute;
	left: 10%;
	box-shadow: 15px 20px 40px 0 #7f7f7f;
}

.photo{
	position: absolute;
	z-index: 100;
}

.rectangle{
	position: relative;
	left: 85px;
	top: 85px;
}

.introduce{
	position: absolute;
	left: 50%;
	top: 30px;
}

#madao{
	margin: 0px;
}

#UI{
	margin: 0;
	padding: 0 0 15px 0;
	border-bottom: 10px solid #000;
	width: 25px;
}

.year{
	padding: 20px 0;
}

.link-ic{
	position: absolute;
	top: 45px;
	right: 1%;
}

a{
	text-decoration: none; 
}

.zcool{
	width: 25px;
	height: 25px;
	margin: 0 5px;
}
.zcool:hover{
	transform: scale(1.5,1.5);
	transition: .3s transform;
}

.iui{
	width: 25px;
	height: 25px;
	margin: 0 5px;
}
.iui:hover{
	transform: scale(1.5,1.5);
	transition: .3s transform;
}

.huaban{
	width: 25px;
	height: 25px;
	margin: 0 5px;
}
.huaban:hover{
	transform: scale(1.5,1.5);
	transition: .3s transform;
}

ul{
	list-style: none;
}

/**作品展示**/
.main2{
	width: 1000px;
	margin: auto;
}

.nav{
	position: relative;
	bottom: 15px;
}

.nav a {
	position: relative;
}

.nav .active a{
	position: relative;
}

.nav a:hover{
	opacity: 0.7;
}

.nav .active a::after{
	bottom: -15px;
	background: #000;
	content: '';
	height: 10px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	width: 20px;
}

.nav a{
	float: left;
	margin: 0 60px;
	color: #000;
	font-size: 20px;
	font-weight: bold;
}

.work-show{
	padding: 40px;
}

.work-pic{
	display: block;
	float: left;
	width: 255px;
	height: 155px;
	margin: 20px;
	border: 1px solid #f5f5f5;
	overflow: hidden;
}

.work-pic:hover{
	transform: scale(1.05,1.05);
	transition: .3s transform;
}

.pic00{
	width: 258px;
	height: 158px;
}

/**原创文章**/
.main3{
	width: 900px;
	margin: auto;
}

.title-real{
	font-size: 18px;
	color: #000;
	font-weight: bolder;
	display: block;
	margin: 15px 0;
}
.title-real:hover{
	opacity: 0.8;
}

.a-title{
	border-bottom: 10px solid #000;
	width: 20px;
}

.a-p{
	font-size: 14px;
	color: #4C4C4C;
	line-height: 35px;
	margin: 15px 0 0 0;
}

.more{
	color: #7f7f7f;
	display: block;
	margin-bottom: 23px; 
}
.more:hover{
	opacity: 0.7;
}

.long{
	width: 40%;
	float: left;
	padding: 30px;
}

.short{
	width: 45%;
	float: left;
	padding: 30px;
}